{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/-styled-mixin/",
          "/-styled-mixin0",
          "$dummyValue"
        ]
      }
    ],
  "property-no-unknown": [
    true, 
    {
      "checkPrefixed": true,
      "ignoreProperties": [
        "/-styled-mixin/"
        ]
    }
  ],
}